<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=@contents['title']%></title>
	<link rel="stylesheet" type="text/css" href="/theme/default.css">
</head>

<body>
<header>
<h1><%=@contents['title']%></h1>
<nav>
<a href=/e/<%=@path%>>편집</a> <a href=/wiki/<%=@path%>?action=diff>diff</a>
</nav>
</header>

<section id="content">
<div class="info">
저자 : <%=@contents['author']%> <br \>
작성일 : <%=@yy%>년 <%=@mm%>월 <%=@dd%>일 <%=@hh+":"+@ii%><br \>
버전 : <%=@contents['_rev']%> 
ID : <%=@contents['_id']%> 
</div>
<article>
<div class="wiki">
<%=nl2br(@contents['message'])%>
</div>
</article>
</section>
</body>
</html>
